<mat-card class="p-3 my-2">
  <div class="row align-items-center">
    <!-- Add User Button -->
    <div class="col-12 col-md-3 mb-2 mb-md-0 d-flex justify-content-start">
      <button mat-raised-button class="btn btn-primary" (click)="addUserPopup()">
        <i class="material-icons">person_add</i> 
      </button>
    </div>

    <!-- Search Inputs -->
    <div class="col-12 col-md-5 d-flex flex-wrap gap-2">
      <input class="form-control small-input" [(ngModel)]="searchName" placeholder="Search by name">
      <input class="form-control small-input" [(ngModel)]="searchEmail" placeholder="Search by email">
      <button mat-raised-button color="primary" (click)="searchUsers()">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-raised-button class="btn btn-success" (click)="showAll()">Show All</button>
    </div>

    <!-- Sorting Dropdown -->
    <div class="col-12 col-md-4 d-flex justify-content-md-end mt-2 mt-md-0"
      >
      <mat-form-field style="background-color: rgb(124, 123, 120);" class="small-mat-form" appearance="outline" color="primary">
        <mat-label>Sort by</mat-label>
        <mat-select [(ngModel)]="sortBy" (selectionChange)="sort()">
          <mat-option value="name">Name</mat-option>
          <mat-option value="email">Email</mat-option>
        </mat-select>
      </mat-form-field>
      

    </div>
  </div>
</mat-card>

<!-- User cards -->
<div class="row" style="display: flex; justify-content: center;">
  <mat-card class="m-2 col-md-5 col-sm-12" *ngFor="let User of pagedUsers; let i = index">
    <mat-card-header>
      <img mat-card-avatar src="../../assets/img_avatar3.png">
      <mat-card-title>  {{ i + 1 + pageIndex * pageSize }} / {{User.role}} </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>Name: {{ User.name }}</div>
      <div>Email: {{ User.email }}</div>
      <div>Role: {{ User.role }}</div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-mini-fab (click)="openEditPoppup(User,  i  + pageIndex * pageSize)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab color="warn" (click)="deleteUser(User,  i  + pageIndex * pageSize)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<!-- Pagination Component -->
<mat-paginator [length]="filteredUsers.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
  (page)="handlePageEvent($event)">
</mat-paginator>
