<p>add-user !</p>

<form [formGroup]="User">
    <mat-form-field>
        <mat-label>Enter name</mat-label>
        <input matInput  formControlName="name">
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Select</mat-label>
        <mat-select formControlName="role"> 
            <mat-option value="admin">Admin</mat-option>
            <mat-option value="user">User</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Enter email</mat-label>
        <input matInput  formControlName="email">
    </mat-form-field>
    
    <div mat-dialog-actions>
        <button mat-raised-button style="color: green; background-color: white;" (click)="save()" >save</button>
    
        <button mat-raised-button style="color: red; " (click)="close()" >close</button>
    </div>
    </form>