<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSideBar()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="spacer"></span>
  <button mat-button>Login</button>
  <button mat-button>Register</button>
  <button mat-button routerLink="userconf">Users</button>

</mat-toolbar>
<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav #sidenav fixedInViewport="true" mode="side" [(opened)]="opened">
    <mat-nav-list>

      <a mat-list-item (click)="toggleSideBar()">Close <mat-icon class="close-icon" color="warn">close</mat-icon>
      </a>
      <a mat-list-item routerLink="userconf">Users</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <h2>List of all users</h2>

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>